# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
fbbe6262
0e5ce13d54b2ae6cd7d8acd0c1972cf7

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel
